@model IEnumerable<Repository.Models.JobPosting>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobPostingTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobPostingTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PostingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PostingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
